{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .nav-pills .nav-link.active {
            background-color: green; /* Aktif öğe için arka plan rengi */
            color: white; /* Aktif öğe için metin rengi */
        }
    </style>
    <title>Tomurcuk Gündüz Bakımevi</title>
</head>
<body>
    <header class="d-flex flex-column align-items-center" style="background-color: rgba(255, 255, 255, 0.8); position: relative; z-index: 10;">
        <a href="/" class="d-flex align-items-center justify-content-center mb-md-0 link-body-emphasis text-decoration-none mt-2">
            <img src="{% static 'resimler/Tomurcuk Ana Okulu -1.png' %}" alt="Tomurcuk Ana Okulu" style="width: 300px; height: 89px;">
        </a>

        <ul class="nav nav-pills d-flex justify-content-center">
          <li class="nav-item">
              <a href="{% url 'home' %}" class="nav-link {% if request.path == '/' %}active{% endif %}" aria-current="page">Ana Sayfa</a>
          </li>
          <li class="nav-item">
              <a href="{% url 'hakkimizda' %}" class="nav-link {% if request.path == '/hakkimizda/' %}active{% endif %}">Hakkımızda</a>
          </li>
          <li class="nav-item">
              <a href="{% url 'etkinlik' %}" class="nav-link {% if request.path == '/etkinlik/' %}active{% endif %}">Etkinlikler</a>
          </li>
          <li class="nav-item">
              <a href="{% url 'iletisim' %}" class="nav-link {% if request.path == '/iletisim/' %}active{% endif %}">İletişim</a>
          </li>
          
        </ul>

    </header>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>

</body>
</html>
